  <li>
	{{burger_name}}

	<button class="burger-eaten" data-id="{{id}}" data-newOrder="{{devoured}}">
		{{#if devoured}}lets eat!{{else}}eat AGAIN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>